# Build
main.js
*.js.map
data.json

# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
desktop.ini
Thumbs.db

# Logs et fichiers temporaires
*.log
.hot-update.*
.cache/
dist/

# Fichiers de développement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers spécifiques à Obsidian
.obsidian/
